@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 50px;
  background: none;
}

html{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

hr{
   border: 1px solid #e7e7e7;
  font-weight: 300;
  width: 70%;
}
.btn-transparent {
  background: transparent;
  border: 3px solid #fff;
  padding: 15px 30px;
  font-size: 14px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
  background: #fff;
  color: #0d0d0d;
  text-decoration: none;
}

.full {
  background: url(../img/BackgroundShuffle_ugly.png); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.order {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #000;
}



/*Navigation Bar Stuff*/


.navbar-default {
  background: rgba(13, 13, 13, 0.6);
  margin-bottom: 0;
  border: none;
  overflow: hidden;
}
.navbar-default .navbar-header {
  width: 28%;
}
.navbar-default .nav-wrap {
  width: 50%;
}
.navbar-default .nav > li > a {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 35px 11px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:active {
  color: #a3a3a3;
}
.navbar-default .social-media {
  float: right;
  padding: 0 15px;
}
.navbar-default .social-media i {
  font-size: 22px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #a3a3a3;
}

.top-nav-collapse {
  background: #24242a;
}
.top-nav-collapse .navbar-brand {
  height: auto;
}
.top-nav-collapse .navbar-brand img {
  width: 52px;
  height: 52px;
}
.top-nav-collapse .nav > li > a {
  padding: 30px 15px;
}
/*End Navigation Bar */

#services {
  padding: 60px 0;
  text-align: center;
  font-weight: bold;
}
#services p {
  text-transform: uppercase;
  color: #000;
  font-size: 75px;
  font-weight: 900;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  text-align: center;
}
#services p {
  color: #000;
  text-shadow: 0 0 0.2em #000,0 0 0.2em #b6cdff,0 0 0.2em #fff;
}
#services .services-box {
  margin-top: 40px;
  background-color: white;
  text-align: center;
  padding: 0;
}


#services .services-box .boarder{
  margin: 0;
  border-right: 1px solid #757575;
  padding: 0;
}
#services .services-box .start-boarder{
  margin: 0;
  border-right: 1px solid #757575;
  padding-right: 0;
}
#services .services-box .end-boarder{
  margin: 0;
  padding-left: 0;
}
#services .services-box .col-md-3 .media-body {
  padding: 0;
}


#services .services-box .col-md-3 .media-body h3, h1 {
  text-transform: uppercase;
  color: #000;
  text-align: center;
  font-weight: 900;
}




@media (max-width: 992px) {
  #services p {
  text-transform: uppercase;
  color: #000;
  font-size: 70px;
  font-weight: 900;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  text-align: center;
}
  #services .services-box .col-md-3 .media-body {
    padding-bottom: 40px;
  }
  hr{
    width: 50%;
  }
  #services .services-box .boarder{
  margin: 0;
  border-right: 0px solid #757575;
  padding: 0;
}
  #services .services-box .start-boarder{
  margin: 0;
  border-right: 0px solid #757575;
  padding: 0;
  }
  #services .services-box .end-boarder{
  margin: 0;
  padding: 0;
}
}
